fastapi
uvicorn
pydantic
numpy
pandas
tqdm
python-dotenv
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-nvidia-ai-endpoints
sentence-transformers
faiss-cpu
requests
asyncio
